

/*--Mobile Layout--*/

body{
  font-family: Roboto, helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;


}

p{
  color: #4F4E4E;
}


/*--Introduction--*/

.container{
  margin: 0 auto;
  padding: 20px 30px;
  text-align: center;
  background-color: #E8E7E7;
  line-height: 1.2;

}

ul{
  padding-left: 0;
  text-align: center;
  margin: 5px 5px;
}

.student{
 color: #494949;
}

li {
  margin: 5px auto;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 5px;
  color: #494949;

}

li a{
  text-decoration: none;
  color: #494949;
}

li a:hover{
  color: #7C7C7C;
}

a{
  color: #494949;
  text-decoration: none;
}

a:hover{
  color: #7C7C7C;
}

.profile-pic{
  max-width: 75%;
  padding-top: 20px;
  padding-bottom: 15px;
}



/*--Project Sections--*/

.portfolio{
  margin-top: 20px;
  background-color: white;
}

.section-imgs{
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}



/*--Footer--*/

.comms{
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #4F4E4E;

}

.contact{
  font-weight: bold;

}

.end-mobile{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}






/*--Media Queries for Tablet--*/

@media(min-width: 768px){

  ul{
    display: flex;
    justify-content: space-around;
    margin: 20px 200px;
  }

  li{
    background-color: inherit;
  }

  .intro{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .intro p{
    text-align: left;
    padding-left: 20px;
    font-size: 1.25rem;
  }

  .profile-pic{
    max-width: 40%;
    padding-left: 20px;
    padding-right: 20px;

  }


  .portfolio img{
    max-width: 98%;

  }

  .projects{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 40%;
  }

  .text{
    display: block;
    font-size: 16px;
    padding: 10px 10px 25px 10px;
  }

 .contact {
   display: inline;
   justify-content: center;
   width: 80%;
   padding-left: 10px;

 }

 .contact1{
  line-height: 1.2;
 }

 .close{
   font-weight: normal;
   font-size: 18px;
 }

.comms{
  display: inline-block;
  padding-left: 80px;
  padding-right: 80px;
}

.nav-footer{
  display: flex;
  justify-content: space-between;


}

.student-footer{
  border: 1px solid green;
  font-size: 18px;
  font-weight: bold;
  color: #4F4E4E;
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 30px;
}



ul li{
  padding-left: 30px;
}

/*.footer-nav{

overflow: hidden;
position: relative;
bottom: 0;
width: 100%;
}

.footer-nav a{
  float: right;
  display: block;
  color: #494949;
  text-align: center;
  padding: 20px 16px 70px 0;
  text-decoration: none;
  font-size: 16px;
  padding-right: 50px;
  font-weight: bold;
}*/

a:hover{
  color: #7C7C7C;
}


/*--Display None--*/
  .end-mobile{
    display: none;
  }
}

@media(min-width: 1024px) {

  .nav-header{
    display: flex;
    justify-content: space-between;
  }

  .student{
    padding-left: 20px;
  }

  header{
    position: relative;
  }

  ul{
    margin-left: 0;
    margin-right: 90px;
  }


  ul li{
    padding-left: 50px;
  }

  .container{
    position: relative;
    width: 100%;
  }

  .profile-pic{
    padding-right: 95px;
  }

  .description {
    font-size: 4rem;
  }


  .projects{
    width: 27%;
  }

 .comms{
   display: block;
   justify-content: center;
   border-bottom: 1px solid #4f4e4e;
 }

 .nav-footer{
   display: flex;
   justify-content: space-between;
   overflow: hidden;


 .student-footer{
   font-size: 18px;
   font-weight: bold;
   color: #4F4E4E;
   margin-left: 50px;
   margin-top: 30px;
 }
}


@media(min-width: 200px) and (max-width:767px) {
  .nav-footer{
    display: none;
  }
}
